@use '../util' as u;
@use './variables' as g;

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	// font-family: u.$font;
	font-family: var(--font-body);
	background-color: var(--color-dk-black);
	color: var(--color-white);
}

h1,
h2,
h3,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper {
	width: min(
		u.rem(1110),
		calc(100% - u.rem(32))
	); /*setting the width of an element to the smaller of two values=responsive designs that adapt to different screen sizes*/
	outline: 1px solid red; // ! dev tool
	margin-inline: auto; /*center*/
}

// ! Optional*****Start*****
//  Visibility
/* .hide-for-mobile {
	@include u.breakpoint-down(medium) {
		display: none;
	}
}

.hide-for-desktop {
	@include u.breakpoint(large) {
		display: none;
	}
}
 */
// ! Optional*****End*****
