:root {
	// Colors variables
	//! def var colors
	--color-dk-black: hsl(0, 0%, 11%);
	--color-lt-white: hsl(274, 100%, 99%);
	--color-white: hsl(0, 0%, 100%);
}

//************************************ Class test

/*   .magenta {
    background-color: hsl(300, 100%, 30%);
  }
  
  .green {
    background-color: hsl(120, 100%, 27%);
  } */
